<div class="login-content">
  <div class="logo-content">
    <img src="/assets/images/microsoft-logo.png">
    <h2 class="logo-name">Microshit</h2>
  </div>
  <div class="form-content">
    <div class="ui big left icon input">
      <input type="text" placeholder="Email...">
      <i class="envelope outline icon"></i>
    </div>
    <div class="ui big left icon input">
      <input type="password" placeholder="Password">
      <i class="key icon"></i>
    </div>
    <div class="form-buttons">
      <button class="ui big button green">
        Login
      </button>
      <button class="ui big button red">
        Register
      </button>
    </div>
  </div>
</div>